
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

  /* my codes */
  .emojis{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  /* end of my codes */

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
  /* my codes */
    display: flex;
    flex-direction: column;
  /* end of my codes */
}

.emoji h2,
.emoji p,
.emoji a {
  order: 1;
}

.emoji .icon,
.emoji h2,
.emoji a {
  flex-grow: 0;
}

.emoji p{
  flex-grow: 1;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
}

.icon {
  font-size: 4rem;
  /* my code */
  justify-self: center;
  order: 0;
  display: flex;
  justify-content: center;
  /* end of my code */
}
